.order {
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 15px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  width: calc(25% - 10px);
  border-radius: 10px;
  text-align: center;
}

.order:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  text-decoration: none;
}

.order .id .no {
  font-size: 0.9rem;
  color: var(--deep-blue);
  font-weight: 500;
}

.order .circle {
  width: 150px;
  height: 150px;
  margin: 15px auto;
  padding: 10px;
}

.order .circle .content .price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #007bff;
  line-height: 1;
}

.order .circle .content .remaining {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.125);
}

.order .progress {
  display: flex;
  justify-content: space-between;
}

.order .progress .one,
.order .progress .two,
.order .progress .three {
  /* padding: 5px; */
}

.order .progress .one .value,
.order .progress .two .value,
.order .progress .three .value {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 5px;
}

.order .progress .one .name {
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #daecff;
  color: #007bff;
  padding: 2px 5px;
  border-radius: 5px;
}

.order .progress .two .name {
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #afedf2;
  color: #336856;
  padding: 2px 5px;
  border-radius: 5px;
}

.order .progress .three .name {
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #e4e2e2;
  color: #4f4f4f;
  padding: 2px 5px;
  border-radius: 5px;
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .order {
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 15px;
    width: calc(50% - 10px);
  }
  .order .circle {
    width: 100%;
    height: 120px;
    padding: 15px;
  }
  .order .circle .content .price {
    font-size: 0.8rem;
  }
  .order .progress .one .value,
  .order .progress .two .value,
  .order .progress .three .value {
    font-size: 0.6rem;
  }
  .order .progress .one .name {
    font-size: 0.5rem;
  }

  .order .progress .two .name {
    font-size: 0.5rem;
  }

  .order .progress .three .name {
    font-size: 0.5rem;
  }
  .order .progress {
    margin-top: 25px;
  }
}
