.pending {
  padding-bottom: 50px;
}

.pending h1 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--deep-blue);
  margin-bottom: 0px;
  margin-top: 30px;
  line-height: 1;
}

.pending .header p {
  font-size: 0.9rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
