.authentication {
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* background-color: #ffffff; */
}

.authentication h1 {
  font-size: 2.5rem;
  color: #2680eb;
}

.authentication .authbox {
  max-width: 430px;
}

.authentication .authbox img {
  width: 150px;
}

.authentication form {
  /* background-color: #eff5ff; */
  border: 1px solid #bedbec;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 30px;
}

.authentication input {
  height: 50px;
}

@media (max-width: 600px) {
  .authentication {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
}
