.footer {
  padding-bottom: 100px;
}

.footer a {
  color: #000000;
}

.footer img {
  margin-left: 0.5rem;
}

.footer .bluep {
  margin-top: 20px;
  color: #2680eb;
}

.footer h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.footer li {
  margin-bottom: 10px;
}
